<!DOCTYPE html>
<html>
  <head>
    <title>CSP 検証ページ</title>
  </head>
  <body>
    <script nonce="<%= nonce %>">
      // alert("Hello, CSP!");

      const script = document.createElement("script");
      script.src = "./csp-test.js";
      document.body.appendChild(script);
    </script>
  </body>
</html>
